html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}

.content {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.flash {
  background: #ecd018;
  padding: 1px 1px;
  display: inline-block;
  width: 200px;
  text-align: center;
  position: relative;
}

span.flash span {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: #ecd018;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  line-height: 50px;
}

span.flash:hover,
span.flash.open {
  background: none;
}

span.flash:hover span,
span.flash.open span {
  transition: all 0.2s;
  top: auto;
}

span.flash:hover span.designer,
span.flash.open span.designer {
  top: -96px;
  -webkit-transform: perspective(100px) rotateX(20deg);
  transform: perspective(100px) rotateX(20deg);
}

span.flash:hover span.developer,
span.flash.open span.developer {
  top: -44px;
  -webkit-transform: perspective(100px) rotateX(-20deg);
  transform: perspective(100px) rotateX(-20deg);
}

span.flash:hover span.entrepreneur,
span.flash.open span.entrepreneur {
  -webkit-transform: perspective(100px) rotateX(20deg);
  transform: perspective(100px) rotateX(20deg);
  top: 0;
}

span.flash:hover span.speaker,
span.flash.open span.speaker {
  top: 52px;
  -webkit-transform: perspective(100px) rotateX(-20deg);
  transform: perspective(100px) rotateX(-20deg);
}

span.flash:hover span.teacher,
span.flash.open span.teacher {
  -webkit-transform: perspective(200px) rotateX(40deg);
  transform: perspective(200px) rotateX(40deg);
  top: 92px;
}